@model IEnumerable<CondoMinicator.Models.Comunicado>

@{
    ViewBag.Title = "Comunicados";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo comunicado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condominio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.De)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Para)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensagem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assunto.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condominio.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.De.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Para.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mensagem)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
